// Global
.home-wrapper {
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 6) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
  }
// Navigation and opening
.home-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}
.home-opt {
    text-align: center;
    padding-right: 3px;
    position: relative;
    flex: 0 50%;
    height: 100px;;
    
    a {
        text-decoration: none;
        color: $color-light;
    }

}
.opt-img img {
    
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    
}
.opt-title {
    position: absolute;
    display: block;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    h4 {
        display: none;
        margin-bottom: -30px;
    }
}

.opt-title:hover {
    transition: 3s;
    top: 1px;
   h4{
    display: block;
    transition: 4s;
    opacity: 0.5;
    
   } 

}




.home-opening {
    position: relative;
    background-color: $color-main;
    color: $color-light;
    text-align: center;
    padding: 10px;
    margin-top: 53px;
    border-radius: 3px;
}
.home-opening-title {
    h4 {
        margin-top: -20px;
        font-size: 12px;
    }
}

// Carousel

.home-carousel {
    margin: 40px 5px;
    background: $color-light;
}
.carousel-img {
    flex: 1;
    height: 180px;
    width: 180px;
    position: absolute;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}
.carousel-description {
    flex: 2;
    
    padding-right: 200px;
    
    position: relative;
    left: 200px;
}
// Gallery
.home-gallery {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.container-gallery {
    flex: 0 0 33,333%;
    margin: 5px;
    position: relative;
}
.gallery-img {
    height: 180px;
    width: 180px;
    img{
        
        height: 100%;
        object-fit: cover;
        width: 100%;
       
    }
}